.login {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login_image {
  object-fit: contain;
  width: 100px;
  margin: 20px auto;
}

.login_container {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 20px;
  width: 300px;
  height: fit-content;
  border-radius: 5px;
}

.login_container > h1 {
  font-weight: 500;
  margin-bottom: 20;
}

.login_container > form > h5 {
  margin-bottom: 5px;
}

.login_container > form > input {
  margin-bottom: 10px;
  height: 30px;
  width: 98%;
}

.login_container > p {
  font-size: 12px;
  margin-top: 15px;
}

.login_sign_inButton {
  background: #f0c14b;
  border: 1px solid;
  border-radius: 2px;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: black;
  width: 100%;
  margin-top: 10px;
  height: 30px;
}

.login_createAccount {
  border: 1px solid;
  border-radius: 2px;
  border-color: darkgray;
  height: 30px;
  width: 100%;
  margin-top: 10px;
}
